{% extends 'ProyectoCoderApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Acerca de mí - Estudios Musicales App
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    
    <div class="container px-5">
        <h1>Acerca de mí</h1>
        <br>
        <h5>
            Mi nombre es Rodrigo Nicolás Fernández, tengo 33 años. Desde mi nacimiento me considré un aficionado por la música y la informática.</h5>
        <h5>Éste es un sitio creado para mi proyecto final de programación Python, donde busco combinar lo aprendido con mi pasión por la música.</h5>
        <h5>Aquí encontraras herramientas para desarrollar tu proyecto musical, de la mano de otras Bandas con las cuales trabajar, Productores musicales y estudios de grabación, en conjunto.</h5>
        
    </div>
        
</section>
{% endblock %}