{% extends 'ProyectoCoderApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Detalles - Estudios Musicales App
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    
    <div class="container px-5">
        <h1>Detalles de los Estudios de Grabación y Salas de Ensayo</h1>
        <br>
        <h5>
            <ol>
                <li> EL BOSQUE
                    <ul> <br>
                        <li> Ubicación: Del Viso
                        <li> Cantidad de salas: 2
                        <li> El estudio "El Bosque" se encuentra ubicado en las afueras de Del Viso, en un ambiente natural, rodeado de arboledas. Un espacio donde tu banda logrará la tranquilidad necesaria para grabar un muy buen proyecto.
                    </ul><br>
                    <br><br>
                <li> SANDRA2
                    <ul> <br>
                        <li> Ubicación:
                        <li> Cantidad de salas: 1
                        <li> SANDRA2 es un espacio nuevo, ubicado en el centro de la ciudad. Aquí tendras acceso a todas las comodidades de la ciudad. El espacio reducido de una sala, permite mucha intimidad y realizar proyectos fáciles y rapidos. Está especializado en la grabación de pistas MIDI.
                    </ul><br>
                    <br><br>
                <li> COREA RECORDS
                    <ul> <br>
                        <li> Ubicación:
                        <li> Cantidad de salas: 2
                        <li> CoreaRecords es uno de los estudios mas versátiles de la Zona Norte de la Provincia de Buenos Aires. Con espacios amplios, estas dos salas disponibles para las bandas, son aptos tanto como para grabación como para ensayos. Éstas salas admiten  al público de cada banda.
                    </ul>
            </ol>
            <br><br>
        </h5>
        <div class="row gx-5 justify-content-center">
            <a class="btn btn-outline-success text-nowrap ms-3 my-2 my-sm-0" href="{% url 'index' %}"> <i class="bi bi-plus-lg"></i> Regresar al Inicio</a>
            
        </div>
    </div>
        
</section>
{% endblock %}