{% extends 'ProyectoCoderApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Estudiantes - AppCoder
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-4">
                Los estudiantes son:
                    {% for estudiante in estudiantes %}
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidp</th>
                            <th scope="col">Correo electrónico</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>{{estudiante.nombre}}</td>
                            <td>{{estudiante.apellido}}</td>
                            <td>{{estudiante.email}}</td>
                          </tr>
                        </tbody>
                      </table>
                    {% endfor %}
                <a href="{% url 'crear_estudiante' %}"> + Ingresar nuevo Estudiante </a>
            </div>
        </div>
    </div>
        
</section>
{% endblock %}