{% extends 'ProyectoCoderApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Detalles - Estudios Musicales App
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    
    <div class="container px-5">
        <h2>Detalles</h2>
        <br>
        <p><b>Nombre: </b> {{ estudios.nombre }} </p>
        <p><b>Ubicación: </b> {{ estudios.ubicacion }} </p>
        <p><b>Cantidad de Salas: </b> {{ estudios.cantidad_salas }} </p>
        <p><b>Detalle: </b> {{ estudios.detalle }} </p>
        <br>

        {% if estudios.imagen %}
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{estudios.imagen.url}}" alt="" width="400" height="400">
        {% endif %}


        <br><br>
    <a href="{% url 'estudios' %}">Volver a lista de Estudios y Salas</a>
    </div>
        
</section>
{% endblock %}